.article {
  // grid-template-columns: repeat(12,calc(8.333% - 2rem));
  grid-template-rows: auto auto;
  grid-template-areas:
    "title title title social"
    "content content content content"
    "aside aside aside thumbnail";
  @include medium() {
    grid-template-areas:
      ". . title title title title title title title title title title title title title thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail . ."
      "social social content content content content content content content content content content content content content content . aside aside aside aside aside aside aside";
  }
  &__title {
    grid-area: title;
    align-self: center;
    margin-bottom: 2rem;
    h1 {
      @extend .spotlight;
      @extend .blue-radial;
      margin-bottom: 1rem;
      @include dropShadow;
    }
  }
  &__social {
    grid-area: social;
  }
  &__content {
    grid-area: content;
  }
  &__thumbnail {
    grid-area: thumbnail;
  }
  aside {
    grid-area: aside;
    h3 {
      @extend .base-24;
      margin-bottom: 1em;
    }
  }
  &--pano {
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ". pano pano pano pano pano pano pano pano pano pano ."
      ". . title title title title title title title title . ."
      "social content content content content content content content content thumbnail thumbnail thumbnail"
      "social content content content content content content content content aside aside aside";
    @include medium() {
      grid-template-columns: repeat(24, 1fr);
      grid-template-areas:
        ". . . pano pano pano pano pano pano pano pano pano pano pano pano pano pano pano pano pano pano . . ."
        ". . . . title title title title title title title title title title title title title title title title . . . ."
        "social social content content content content content content content content content content content content content content content content thumbnail thumbnail thumbnail thumbnail thumbnail thumbnail"
        "social social content content content content content content content content content content content content content content content content aside aside aside aside aside aside";
    }
    .article__title {
      text-align: center;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      margin-top: 1em;
      .title {
        grid-column: 1 / -1;
        grid-row: 2;
      }
      .article__label {
        grid-column: 1;
        grid-row: 1;
        margin-top: 0;
        font-weight: var(--semi);
      }
      .article__byline {
        grid-column: 1 / -1;
        grid-row: 3;
      }
      .article__dateline {
        grid-column: 2;
        grid-row: 1;
        font-size: var(--base-18);
        font-weight: var(--semi);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__pano {
    grid-area: pano;
    justify-self: center;
    figure {
      background: none;
      img {
        @extend .mask-1;
      }
    }
  }
}
