/* -------------------------

Title: <main> .landingPage .
Descr: 
   landingPage specific 

--------------------------- */

.landingPage {
  grid-template-areas: "title" "aside" "content";
  .title {
    grid-area: title;
  }
  aside {
    grid-area: aside;
    position: sticky;
    top: 0;
    margin: 1rem 0 var(--bottom-margin) 0;
  }
  .content {
    grid-area: content;
  }
  > div {
    grid-column: 1 / -1;
  }
  .content > .pageComponent {
    margin-bottom: var(--bottom-margin);
  }
  .group__title--sr-only {
    @extend .sr-only;
  }
  &--pano {
    .title {
      @include medium() {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-end;
        margin-bottom: 4rem;
      }

      figure,
      h1 {
        grid-column: 1 / -1;
        grid-row: 1;
      }
      h1 {
        @include medium() {
          color: var(--as-white);
          @include dropShadow();
          z-index: 1;
          max-width: 80%;
        }
      }
      figure {
        background: none;
      }
      figcaption {
        @extend .sr-only;
      }
      img {
        @extend .pano-mask-1;
      }
    }
  }
}
