/* -------------------------

Title: _base.scss
Descr: sets HTML and Body styles

--------------------------- */

html{
  font-size: var(--base-font-size);
}
body {
  @include baseFont();
  overflow-x: hidden;
}