/* -------------------------

Title: blockquote
Descr: 
   - style block quote.

--------------------------- */

// base blockquotes
blockquote {
  background: var(--gray-lightest);
  font-size: 1.25rem;
  margin: 3rem 0;
  padding: 1em;
  @include large() {
    padding: 3rem;
    font-size: 1.5rem;
  }

  // font-style: italic;

  font-weight: var(--semi);
  border-radius: var(--border-radius);
  @include boxShadow;
  .attribution {
    font-weight: var(--regular);
  }
  &.blue {
    background: var(--storm-radial);
    color: var(--as-white);
  }
  p {
    position: relative;
    z-index: 1;

    &:before {
      position: absolute;
      height: 45px;
      width: 60px;
      content: "";
      background-image: var(--blue-purple);
      background-size: 300%;
      animation: bg-animation 3s infinite alternate;
      z-index: -1;
    }
    &:before {
      margin-left: -3rem;
      margin-top: -1rem;
      clip-path: url(#open-quote);
    }

    &:first-of-type {
      text-indent: 2rem;
    }
    &:last-of-type {
      &:before,
      &:after {
        content: "";
        display: none;
      }
    }
  }
  &:hover {
    p:before {
      background-position: right;
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.pageComponent--blockQuote {
  blockquote {
    font-size: 2rem;
    .attribution {
      font-size: 1rem;
    }
  }

  // with person
  &.pageComponent--hasPerson {
    display: flex;
    align-items: center;
    margin-bottom: var(--bottom-margin);
    .blockquote__quote {
      flex: 0 0 75%;
      margin: 0;
      blockquote {
        margin: 0 3rem;
      }
    }
    .blockquote__person {
      .person__departments {
        @extend .sr-only;
      }
      .card {
        margin-bottom: 0;
      }
    }
  }
}

.pageComponent--ftb {
  blockquote {
    // background: var(--gray-lightest);
    // padding: 3rem;
    // font-size: 1.5rem;
    // margin: 3rem 0;
    // .attribution {
    //   font-weight: var(--regular);
    // }
  }
}
