/* -------------------------

Title: blockquote
Descr: 
   - style block quote.

--------------------------- */
.pageComponent--blockQuote {
  blockquote {
    background: var(--gray-lightest);
    padding: 3rem;
    font-style: italic;
    font-size: 1.5rem;
    margin: 3rem;
    font-weight: var(--medium);
    .attribution {
      font-weight: var(--regular);
    }
  }
  // with person
  &.pageComponent--hasPerson {
    display: flex;
    align-items: center;
    margin-bottom: var(--bottom-margin);
    .blockquote__quote {
      flex: 0 0 75%;
      margin: 0;
      blockquote {
        margin: 0 3rem;
      }
    }
    .blockquote__person {
      .person__departments {
        @extend .sr-only;
      }
      .card {
        margin-bottom: 0;
      }
    }
  }
}

.pageComponent--ftb {
  blockquote {
    background: var(--gray-lightest);
    padding: 3rem;
    font-style: italic;
    font-size: 1.5rem;
    margin: 3rem 0;
    .attribution {
      font-weight: var(--regular);
    }
  }
}
