.courseList{
    @include baseGrid();
    grid-template-columns: repeat(3, 1fr);
   @include componentMargin();
}

.course{
    @include baseFlex();
    span{
        flex-basis: 100%;
    }

    &__details, &__title{
        order: 2;
    }
    &__title{
       @include baseFont();
    }
    &__number{
        order: 1;
        @include baseFont($size: 1.25rem, $weight: $semi);
    }
}
