.menu--primary{
    list-style-type: none;
    margin:0;
    padding: 0;
    @include baseFlex();
    justify-content: center;
    background: var(--gray-dark);
    max-height: 0;
    overflow: hidden;

    // need open styles put here for small open state

    a{
        color:var(--near-white);
    }

    @include medium(){
        background: transparent;
        color: var(--black);
        max-height: 10000px; // can only transform with px value
        
        a{
            color: var(--black);
            font-weight: $semi;
        }
        
    }

    // menu--primary li
    li{
        margin: 0 2rem;
        &[class$="with-sub"]{
            margin-right: 1rem;
        }

        //hide sub nav ---- show on open
        >ul{
            max-height: 0;
            position: absolute;
            z-index: 1;
            &[class$="open"]{
                max-height: 1000px;
                
                display: flex;
                flex-flow: column;
            }
        }

        //show subnav on hover
        &:hover{
            >ul{
                max-height: 1000px;
                
                display: flex;
                flex-flow: column;
            }
        }
    }

    //toggle subnav buttons
    .expand-sub{
        background: none;
        border: none;
        padding: 0;
        svg{
            fill: none;
        }
        &:focus{
            svg{
                fill: var(--black)
            }
        }
    }

}