{#

/* -------------------------

Title: Block as TOC pages
Descr: block to show side bar nav for TOC pages.
    includes header and ul

--------------------------- */

 #}

<nav class="secondary toc-menu">
    <h3>On this page</h3>
    {% block content %}
    {{ content }}
    {% endblock %}
</nav>