/* -------------------------

Title: _jellybeans
Descr: set this one offy style for the jellybeans

--------------------------- */
.major-minor-grad {
  .jellyBeans {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
}
