/* -------------------------

Title: campfire
Descr: 
    sets up main campfire, three columns, and responsive breakdown

--------------------------- */
.campfire {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: var(--bottom-margin);
  @include medium() {
    flex-direction: row;

    &__feature {
      flex: 0 0 47%;
      order: 2;
    }
    &__articles {
      flex: 0 0 23%;
      order: 1;
      &:last-of-type {
        order: 3;
      }
    }
  }
}

// .campfire {
//   @include baseGrid();
//   grid-row-gap: 0;
//   grid-template-columns: 1fr;
//   margin-bottom: var(--base-bottom-margin);
//   > div {
//     display: flex;
//     flex-direction: column;
//   }
//   // Medium Plus
//   @include medium() {
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-areas:
//       "one one two"
//       "three three three";
//     &__articles:nth-child(2n + 2) {
//       grid-area: two;
//     }
//     // far right column drops down in middle range
//     &__articles:nth-child(3n + 3) {
//       grid-area: three;
//     }
//     &__feature {
//       grid-area: one;
//     }
//   }
//   // Large Plus
//   @include large() {
//     // grid-template-columns: repeat(3, 1fr) repeat(6, 0.75fr) repeat(3, 1fr);
//     grid-template-columns: 23% 47% 23%;
//     grid-template-areas: "one two three";
//     &__articles:nth-child(2n + 2) {
//       grid-area: one;
//     }
//     // reset display on third column
//     &__articles:nth-child(3n + 3) {
//       grid-area: three;
//     }
//     &__feature {
//       grid-area: two;
//     }
//   }
//   // @include xl {
//   //   grid-template-columns: repeat(12, 1fr);
//   // }
// }

// campfire specific styles
.campfire__support {
  @include boxShadow;
  border-radius: var(--border-radius);
  // background: var(--gray-lightest);
  padding: var(--space);
  p {
    @include xl {
      font-size: 1.25rem;
    }
  }
  h2 {
    font-weight: var(--semi);
    margin-top: 0.5em;
  }
}
