/* -------------------------

Title: _card--major-minor.scss
Descr: Sets all specific styles for an m/m/g card and teasers 

--------------------------- */
.card--major-minor {
  .card__copy {
    padding: 1rem;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      ". . level"
      "label label label";
  }
  // if fancybox

  .card__title {
    grid-area: label;
  }
  .card__level {
    grid-area: level;
  }
  .card__links {
    grid-area: links;
    font-size: var(--base-16);
    display: flex;
    justify-content: space-between;
  }
  &.card--fancybox {
    .card__copy {
      grid-template-areas:
        ". . level"
        "label label label"
        "links links links";
    }
  }
}

// Jellybeans
.ul--jellyBeans {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0;
  }
  .link {
    text-indent: -5000px;
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    &:before {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      position: absolute;
      content: "M";
      color: white;
      top: 0;
      right: 0;
      text-indent: 0;
      font-size: 0.7rem;
      text-align: center;
    }
    &--major {
      &:before {
        background: pink;
        content: "M";
      }
    }
    &--minor {
      &:before {
        background: blue;
        content: "M";
      }
    }
    &--graduate {
      &:before {
        background: gray;
        content: "G";
      }
    }
  }
}
