/* -------------------------

Title: _card--article.scss
Descr: Sets all specific styles for an article card
  sets css for card--feature as they are articles

--------------------------- */

.card--article {
  grid-row: span 2;

  .card__copy {
    padding: 1rem;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "label label label"
      "title title title"
      "date byline byline";
  }
  .card__title {
    grid-area: title;
    margin: 0.75em 0 2em 0;
    font-weight: var(--regular);
    font-size: var(--base-24);
    line-height: 1.25;
  }
  .card__label {
    grid-area: label;
    color: var(--as-black);
    font-size: var(--base-18);
    font-weight: var(--semi);
    margin-bottom: 0.5em;
  }
  .card__date {
    grid-area: date;
    text-align: left;
    font-size: var(--base-16);
    margin-top: 2px;
  }
  .card__byline {
    grid-area: byline;
    font-size: var(--base-16);
    text-align: right;
  }
  &.card--small {
    // grid-template-columns: 180px 1fr;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: none;
    box-shadow: none;
    :before {
      display: none;
    }
    figure {
      flex: 0 0 30%;
    }
    .card__copy {
      flex: 0 0 60%;
      padding: 0;
    }
    .card__title {
      grid-area: title;
      margin: 0;
      font-size: var(--base-20);
    }
    .label,
    .card__byline,
    .card__date {
      display: none;
    }

    img {
      // border-radius: var(--border-radius);
    }
  }
  figcaption {
    display: none;
  }
}

.card--feature {
  margin-bottom: 3rem !important;
  .card__copy {
    grid-template-columns: 1fr;
    grid-template-areas:
      "label"
      "title"
      "byline";
  }
  a {
    span {
      display: block;
    }
  }
  .figure {
    grid-area: image;
    background: transparent;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding-top: 2rem;
  }
  .card__title {
    padding: 0 1rem;
    margin-bottom: 1em;
    font-size: 2rem;
    text-align: center;
    font-weight: var(--semi);
  }
  .card__label {
    color: var(--as-black);
    font-size: var(--base-18);
    font-weight: var(--semi);
    text-align: center;
  }
  .card__date {
    font-size: var(--base-16);
    display: none;
  }
  .card__byline {
    font-size: var(--base-18);
    text-align: center;
  }
  img {
    @extend .mask-2;
  }
}
