/* -------------------------

Title: _card--major-minor.scss
Descr: Sets all specific styles for an m/m/g card and teasers 

--------------------------- */
.card--major-minor {
  .card__copy {
    padding: 1rem;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      ". . level"
      "label label label";
  }
  .card__title {
    grid-area: label;
  }
  .card__level {
    grid-area: level;
  }
}

// Jellybeans
.ul--jellyBeans {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
  }
  .link {
    text-indent: -5000px;
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    &:before {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      content: "M";
      color: white;
      top: 0;
      right: 0;
      text-indent: 0;
      text-align: center;
    }
    &--major {
      &:before {
        background: pink;
        content: "M";
      }
    }
    &--minor {
      &:before {
        background: var(--teal);
        content: "m";
      }
    }
    &--graduate {
      &:before {
        background: var(--gold);
        content: "g";
      }
    }
  }
}
