/* -------------------------

Title: teasers
Descr: Sets grid default teaser styles
Variations: 
  teaser
** still have to figure out why teasers with summaeries  are differnet sizes
--------------------------- */

.teaser {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--bottom-margin);
  figure {
    margin-right: var(--space);
    flex: 0 0 240px;
    figcaption {
      @extend .sr-only;
    }
  }
  .teaser__copy {
    flex-grow: 1;
  }
}
