:root {
  --white: #f0f0f0; //depricated
  --black: #2c2c2c; //depricated

  --as-white: #fdfdfd;
  --as-black: #2c2c2c;
  --dark-text: #35363f;
  --gray-dark: #707070;
  --gray-med: #959595;
  --gray-lt: #c2c0c0;
  --gray-lightest: #fbfbfb;
  --dusk: #435363;
  --fog: #607774;
  --storm: #4f869f;
  --as-teal: #85c4ca;
  --gold: #ffd91f;
  --as-green: #4d9b5e;
  --as-red: #b31b1b;

  --as-purple: #bd6ae4;

  // gradients for now
  --blue-purple: linear-gradient(
    144deg,
    var(--as-teal) 0%,
    var(--as-purple) 100%
  );

  --teal-purple: linear-gradient(
    90deg,
    hsla(177, 48, 71, 0.3) 0%,
    hsla(281, 70, 68, 0.3) 100%
  );

  --storm-radial: radial-gradient(
    hsla(195, 82, 16, 0.76) 0,
    hsla(195, 82, 16, 1) 100%
  );

  --gray: #c2c0c0; // depricate
  --gray-light: #d9d9d9; // depricate
  --near-white: #fbfbfb; // depricate

  // page widths moved to _01-breakpoints.scss so they can be used here
  --xs: 320px;
  --small: 480px;
  --medium: 782px; // 782
  --large: 1224px; // 1,224
  --xl: 1432px; // 1,432
  --xxl: 1640px; // 1640

  // Font families
  --font-sans: "canada-type-gibson", sans-serif;
  --font-serif: "freight-macro-pro", serif;
  --font-curly: "Alisha";

  // font size
  --base-font-size: 20px;
  @include large {
    --base-font-size: 24px;
  }

  --medium-font-size: 20px;
  --small-font-size: 16px;
  --sidebar-font-size: 20px;
  --main-font-size: 28px;
  --font-size--huge: 60px;

  --base-16: 0.666rem; // 16px at full
  --base-18: 0.75rem;
  --base-20: 0.8333rem;
  --base-24: 1rem;
  --base-28: 1.166rem;
  --base-36: 1.5rem;
  --base-48: 2rem;
  --base-64: 2.66rem;

  --base-84: 2.6rem;
  @include large() {
    --base-84: 3.5rem;
  }

  //font weights

  --light: 200;
  --regular: 400;
  --semi: 600;
  --heavy: 800;

  --line-height: 1.4;

  --line-width: 60ch;

  // border-variables

  --border-width: 1px;
  --border-color: var(--gray-light);
  --border-radius: 4px;

  // spacing elements
  --space: 1rem;
  @include medium() {
    --space: 1.5rem;
  }

  --bottom-margin: 2rem;
  @include medium() {
    --bottom-margin: 6rem;
  }

  // ..........
  // trying to get away from everythinb gelow here.
  // ..........

  // gutter on first level wrappers; header, .container

  --mainGutter: var(--space);
  @include small() {
    --mainGutter: var(--space); // 1 rem
  }

  @include medium() {
    --mainGutter: calc(2 * var(--space)); // 2rem
  }

  // Base grid variables

  --auto-grid-min-size: calc(10 * var(--space));
  --grid-gap: var(--mainGutter);

  --base-grid-column: 84px;

  // @include medium(){
  //     --base-grid-gap: calc(1.5 * var(--space));
  // }

  // universal spacing variables

  --component-bottom-margin: calc(1 * var(--space));
}
