{#
/*

 name = page-component-entity--person--card-small.html.twig
 person card small

 */
#}

{% set pathtoken = content.field_link.0['#title']|split('/')[4] %}

{% set person = parse_people_json(pathtoken) %}

{# {{content.name}} #}
{# set blocky = drupal_block('person_card_block', {netid:netid}) #}
{# {% set person = parse_people_json(netid) %} #}
{# {{person.title}} #}
{# 
{% set person_departments %}
	<div class="person__departments"> <p>
		<strong>
			Departments
		</strong>
	</p>
	<ul>
		{{person.departments|raw}}
	</ul>
</div>
{% endset %} #}
{% set card_link_url = 'people/'~person.path %}


{# {% set card_modifiers = ['small'] %} #}

{% embed "@content/molecules/card--person.twig" with {
    card_modifiers : ["person", "small"],
    card_title: person.title,
    card_image_path : person.imagepath,
    card_image_alt : person.alt,
    card_label: person.jobtitle,
    card_departments: person_departments,
    card_nodeId : node.id
} %}{% endembed %}
