

//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//

h1,h2,h3,h4{
  font-family: $font-sans;
  font-weight: $semi;
  line-height: 1.4;
  margin: .5em 0 .5em 0;
}

h1 {
  font-size: calc(2.5 * var(--font-size));
  // @include baseFont($size: (15 * $quark), $weight: $semi, $line-height: (16 * $quark));
  // @include baseMargin($margin-direction: margin-bottom, $margin-width:3rem);
}

h2 {
  font-size: calc(2 * var(--font-size));
  // @include baseFont($size: (12 * $quark), $weight: $semi, $line-height: (14 * $quark));
  // @include baseMargin($margin-direction: margin-bottom, $margin-width:1em);
}

h3 {
  font-size: calc(1.75 * var(--font-size));
  // @include baseFont($size: (10 * $quark), $weight: $semi, $line-height: (10 * $quark));
  // @include baseMargin($margin-direction: margin-bottom, $margin-width:1rem);
}

h4 {
  font-size: calc(1.5 * var(--font-size));
  // @include baseFont($size: (8 * $quark), $weight: $semi, $line-height: (10 * $quark));
  // @include baseMargin($margin-direction: margin-bottom, $margin-width:1rem);
}

h5,
h6 {
  @include baseFont($size: (7 * $quark), $weight: $semi, $line-height: (8 * $quark));
}

.h1, .h2, .h3, .h4{
  &--border{
    border-bottom: 1px solid var(--teal);
    margin: 0 auto .5em auto;
    display: table;
  }
}



@mixin heading-xl($font-family: $font-heading, $font-size: 2rem, $line-height: 1.4, $color: inherit, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}