/* -------------------------

Title: teasers
Descr: Sets grid default teaser styles
Variations: 
  teaser

--------------------------- */
.teaser {
  display: flex;
  align-items: flex-start;
  figure {
    margin-right: 1rem;
  }
}
// article specifici
.teaser--article {
  figure {
    max-width: 200px;
    img {
      width: 8rem;
    }
  }
}
