// Figure styles for media elements
// Control width with image sizes
figure {
  margin: 0 0 1rem 0;
  display: inline-block;
  border: 1px solid $as-border;
  border-radius: 4px;
  img {
    display: block;
    margin: 0 !important;
  }
  &.left {
    margin-right: 1rem;
  }
  &.right {
    margin-left: 1rem;
  }
}

figcaption {
  padding: 1rem;
  background: $as-gray-lt;
  border-top: 1px solid #eee;
  font-weight: 400;
  font-size: 0.9rem;
  word-break: break-word;
}

// hacky way to get to images that are aligned left or right.
div[class*="media-wysiwyg"] {
  figure {
    width: min-content;
    img {
      max-width: 300px;
    }
  }
}

figure.feature {
  margin-bottom: 3rem;
  border-radius: $baseRadius;
  p {
    font-weight: inherit;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  img {
    border-radius: 0;
  }
  figcaption {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 1em;
    background: linear-gradient(45deg, black, rgb(19, 18, 18));
    border-top: 1px solid rgba(34, 34, 34, 0.8);
    color: #d7d8dc;
    border-radius: 0 0 $baseRadius $baseRadius;
  }
}
.figure--960 {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}
