// Module for all <h> place holders

%small-gray-serif {
  color: $as-text-lt !important;
  @include font-serif-bold;
  font-size: 1rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

%small-black-serif {
  color: $as-text !important;
  @include font-serif-bold;
  font-size: 1rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.feature-serif {
  font-family: $serif-font;
  font-size: 4rem;
}

.large {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.heavy {
  font-weight: 600;
  margin-bottom: 0.5em;
  line-height: 1.375;
}
