// Mixin - Base Grid
@mixin baseGrid($g-gap: var(--space), $g-row-gap: var(--space)) {
  display: grid;
  grid-gap: $g-gap;
}
@mixin base12GridColumns() {
  grid-template-columns: repeat(12, calc(8.59% - 2rem));
}
@mixin base24GridColumns() {
  grid-template-columns: repeat(24, calc(4.3% - 2rem));
}

// Fonts
@mixin baseFont(
  $size: var(--base-font-size),
  $color: var(--dark-text),
  $weight: var(--regular),
  $line-height: var(--line-height),
  $family: var(--font-sans)
) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
}

// Drop shadow
@mixin boxShadow() {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.08);
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// gradient-border needs two parts. one for the conatiner/border, one that sets the :before for the actual visible background color
@mixin gradient-border {
  position: relative;
  background: var(--teal-purple);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat;
  // border: 1px solid transparent;
  // border: 1px solid transparent;
  border-radius: 9px;
  &::before {
    content: "";
    content: "";
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    // border: 2px solid pink;
    border-radius: 9px;
    background: pink;
    background: var(--as-white);
    z-index: 0;
  }
}

// text gradients need to set up to take variables for background
@mixin text-gradient($background: var(--storm-radial)) {
  background: $background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 8px;
}

// links that look like buttons
@mixin btnLink($background: var(--gray-lightest), $color: var(--storm)) {
  display: inline-block;
  background: $background;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  // font-weight: var(--semi);
  color: $color;
  @include boxShadow();
  margin-right: 1rem;
  &:last-of-type {
    margin-right: 0;
  }
}
