{# 
    Master wrapper for PT blocks.
    each item output wit page-component-entity--photo-text.html.twig
 #}


<h1>{{wrapperClass}}</h1>
{# {{kint(wrapperClass)}} #}
<div class="ptWrapper ptWrapper--{{wrapperClass|render|striptags|trim|lower}}">
    {{items}}
</div>
