{# 
    template to show photo text components in a slider wrapper.
    needs some kind of look to call in each photo-text 
 #}

{# {{kint(_context)}} #}

<div class="slice slider">
    {% if pl %}
        {% for photo_text in photo_texts %}
            {% include "@molecules/content/photo-text/photo-text.twig" with {
                    title: photo_text.title,
                    text: photo_text.text,
                    image: photo_text.image,
                    link_url: photo_text.link_url,
                    link_text: photo_text.link_text
                    }
                %}
            hi mark
        {% endfor %}
    {% else %}
        {{content}}
    {% endif %}
</div>