// @mixin button($bg:$black, $color:$white, $hoverBg: $gray, $hoverColor: $white) {
//   background-color: $bg;
//   border: none;
//   color: $color;
//   cursor: pointer;
//   //line-height: 1.4;
//   padding: 0.5em 1em;
//   display: inline-block;
//   text-decoration: none;
//   text-align: center;
  
//   &:visited {
//     color: $color;
//   }

//   &:hover {
//     background-color: $hoverBg;
//   }
// }

// @mixin button-alt {
//   @include button($gray, $white, $black);

//   font-weight: 600;
//   font-size: 0.7rem;
//   padding: 0.4em 0.6em 0.3em;
// }

// @mixin button-alt-2 {
//   @include button($gray-lightest, $black, $gray-lighter);

//   font-size: 0.8rem;
//   font-weight: 600;
//   text-transform: none;
// }

.button {
  @include button;

  //previous and next buttons
  &.prev, &.next{
    span{
      content: "";
      font-size: 1rem;
      width: 35px;
      line-height: 35px;
      top: 1px;
      right: 0;
      text-align: center;
      text-indent: 0;
      color: $black;
      cursor: pointer;
    }
  }
  &.prev{
    span{
        transform: rotate(90deg);
    }
  }
  &.next{
    span{
        transform: rotate(-90deg);
    }
  }
}
