/* -------------------------

Title: otp navigation
Descr: otpN small and large, hovers and toggles for subNav

--------------------------- */
// .otp {
//   position: sticky;
//   top: 0;
// }
.otpNavWrapper {
  background: var(--as-white);
  position: inherit;
  background: var(--as-white);
  z-index: 1;
  font-size: var(--base-16);
  animation: none;
  display: flex;
  flex-wrap: wrap;
  @include large() {
    flex-direction: column;
  }
  h4 {
    font-size: var(--base-16);
    margin: 0;
    flex: 0 0 auto;
    @include medium() {
      font-size: var(--base-20);
    }
    @include large() {
      text-align: center;
    }
  }
}

// for stuck otpnav
.main.otpStuck {
  // @include medium() {
  //   .otpNavWrapper {
  //     position: fixed;
  //     top: 0;
  //   }
  //   .content {
  //     padding-top: 150px;
  //   }
  // }
  @include large() {
    .otpNavWrapper {
      position: sticky;
      top: 0;
    }
  }
}

@keyframes otpNavFader {
  0% {
    opacity: 0;
  }
  20% {
    position: fixed;
    top: 0;
  }
  30% {
    opacity: 0;
    position: fixed;
    top: 0;
  }
  100% {
    opacity: 1;
    position: fixed;
    top: 0;
  }
}

// Basic otpNav ul styles
.otpNav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.otpNav--basic_page {
  .otpNav {
    flex-direction: column;
    width: 100%;
    li {
      margin-right: 1em;
      margin-bottom: 0;
    }
    a {
    }
    // medium
    @include medium() {
      flex-direction: row;
      flex-shrink: 0;
    }
    // .large
    @include large() {
      // font-size: var(--base-20);
      flex-direction: column;
      padding-left: 0;
      li {
        margin-right: 0;
      }
      a {
        color: var(--as-black);
        padding: 0.5em 1em;
        display: block;
        border-bottom: 1px solid var(--gray-lightest);
        &.active,
        &:hover {
          color: var(--as-white);
          background: var(--storm);

          border-radius: var(--border-radius);
        }
      }
    }
  }
}

.otpNav--landing_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // position: sticky;
  // top: 0;
  h4 {
    margin-right: 0.5rem;
  }
  .otpNav {
    display: flex;
    li {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }
  // .otpNav
}
