/* -------------------------

Title: sidebar navigation
Descr: sidebarNav small and large, hovers and toggles for subNav
       
Still needs: expand toggle for showing sidebar nav on mobile

--------------------------- */

ul[class^="nav"] {
  font-size: var(--base-24);
  line-height: 2em;

  list-style-type: none;
  padding-left: 16px;
  margin-bottom: 0;
  overflow: hidden;
  @include medium() {
    font-size: var(--base-18);
    line-height: 1.75em;
  }
  a {
    position: relative;
    // padding-left: 0.5rem;
    display: block;
    color: var(--dark-text);
    &:before {
      position: absolute;
      content: "";
      height: 70%;
      width: 2px;
      transform: translateX(-18px);
      top: 0;
      background: var(--gray-lt);
      border-radius: 0 2px 2px 0;
    }
    &:hover {
      &:before {
        animation-name: indicators;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        transform: translateX(-16px);
      }
    }
  }
  // active trail
  [class*="active-trail"] {
    > a {
      font-weight: var(--semi);
      &:before {
        transform: translateX(-16px);
      }
    }
  }
  .with-sub {
    display: grid;
    grid-template-columns: 1fr 2rem;
    > a {
      grid-column: 1 / 1;
    }
    > button {
      grid-column: 2 / -1;
    }
    > ul {
      grid-column: 1 / -1;
    }
    @include medium() {
      display: auto;
      > button {
        display: none;
      }
    }
  }
}

.nav {
  height: 0;
  overflow: hidden;
  &.expanded {
    height: auto;
  }
  @include medium() {
    height: auto;
  }
  &__root {
    position: inherit;
    > a {
      grid-column: 1 / -1 !important;
      font-size: var(--base-20);
      color: var(--as-black);
      text-decoration-color: var(--as-black);
      font-weight: var(--semi);
      margin-bottom: 0.5em;
      &:before {
        display: none;
      }
    }
  }
  .nav-1 {
    border-left: 1px solid var(--as-teal);
    &__item {
      &[class*="active-trail"] {
        > a {
          &:before {
            background: var(--as-teal);
          }
        }
      }
      > a {
        &:before {
          background-color: var(--as-teal);
        }
      }
    }
    a {
      text-decoration-color: var(--as-teal);
    }
  }

  .nav-2 {
    border-left: 1px solid var(--as-blue-base);
    &__item {
      &[class*="active-trail"] {
        > a {
          &:before {
            background: var(--as-blue-base);
          }
        }
      }
      > a {
        &:before {
          background: var(--as-blue-base);
        }
      }
    }
    a {
      text-decoration-color: var(--as-blue-base);
    }
  }

  .nav-3 {
    border-left: 1px solid var(--as-light-blue);
    &__item {
      &[class*="active-trail"] {
        > a {
          &:before {
            background: var(--as-light-blue);
          }
        }
      }
      > a {
        &:before {
          background: var(--as-light-blue);
        }
      }
    }
    a {
      text-decoration-color: var(--as-light-blue);
    }
  }

  // base withSubNav
  .withSubNav {
    position: relative;
    &:before {
      position: absolute;
      right: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      content: "s";
    }
  }
  // .optNav removed and managed on _opt-nav.scss for big screen.
  @include medium() {
    .otpNav {
      @include medium() {
        display: none;
      }
    }
  }
}

// siteNavOpener

.siteNavOpener {
  background: var(--blue-blue);
  border-radius: var(--border-radius);
  padding: 0.5em;
  color: var(--as-white);
  font-size: var(--base-24);
  display: flex;
  justify-content: space-between;
  svg {
    fill: var(--as-white);
  }
  @include medium() {
    display: none;
  }
}

// indiacator anmimations
@keyframes indicators {
  0% {
    transform: translateX(-1.25em);
    // left: -1.25em;
  }
  60% {
    transform: translateX(-0.5em);
    // left: -0.5em;
  }
  100% {
    transform: translateX(-0.75em);
    // left: -1em;
  }
}
