/* -------------------------

Title: sidebar navigation
Descr: sidebarNav small and large, hovers and toggles for subNav
       
Still needs: expand toggle for showing sidebar nav on mobile

--------------------------- */

ul[class^="nav"] {
  font-size: var(--base-20);
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  a {
    position: relative;
    padding-left: 0.5rem;
    display: block;
    &:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      left: 0;
      top: 0;
      background: var(--gray-lt);
    }
  }
  li[class$="active-trail"] {
    > a {
      color: red;
    }
  }
}

.nav {
  &__root {
    position: inherit;
    padding-left: 0.5rem;
    > a {
      font-size: var(--base-24);
      color: var(--as-black);
    }
  }

  .nav-1__item {
    > a {
      margin-left: 0.5rem;
      &:before {
        background-color: var(--as-green);
      }
      &:hover {
        &:before {
          background: pink;
        }
      }
    }
    .active {
      color: green;
    }
  }

  .nav-2__item {
    > a {
      margin-left: 0.75rem;
      &:before {
        background-color: var(--gold);
      }
      &:hover {
        &:before {
          background: pink;
        }
      }
    }
  }

  .nav-3__item {
    > a {
      margin-left: 1rem;
      &:before {
        background-color: var(--teal);
      }
      &:hover {
        &:before {
          background: pink;
        }
      }
    }
  }
  // base withSubNav
  .withSubNav {
    position: relative;
    &:before {
      position: absolute;
      right: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      content: "s";
    }
  }
  // .asideNav removed and managed on _aside-nav.scss for big screen.
  @include medium() {
    .asideNav {
      @include medium() {
        display: none;
      }
    }
  }
}
