{#

/* -------------------------

Title: views-view
Descr: main output business for views. Classes are from the view-display settings form. Rows gets output by views-view-list with _grouping.twig.

--------------------------- */

#}

{# this is super important to have in the wrapper for ajax stuff #}

{%
  set domID = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{# include fancybox #}

{% set show_fancybox = true %}

{# set up classes #}

{% set main_element_extra_classes = ['main'] %}
{% set main_element_extra_classes = main_element_extra_classes|merge([domID.0]) %}
{% set main_element_base_class = 'basicSidebar' %}
{% set main_element_modifiers = ['viewContainer', 'articles'] %}



{# {{vardumper(view)}} #}

{# set view_title = view.storage.label #}
{% set view_title = view.element['#title'] %}

{% set view_content = rows %}
{% set view_pager = pager %}
{% set view_sidebar %}
<div class="sidebar--filters">
  {{exposed}}
</div>
{% endset %}



{# adding "now viewing" labels #}
{% if (view.getExposedInput.search_api_fulltext) %}
	{% set view_header = view_header ~ 'Keyword search: ' %}
	{% set keyword = view.getExposedInput.search_api_fulltext %}
  {% set view_header = view_header ~ keyword  %}
{% endif %}
{% if (view.getExposedInput.field_related_disciplines) %}
	{% set view_header = view_header ~'Discipline: ' %}
	{% for key, item in view.getExposedInput.field_related_disciplines %}
		{% set termname = drupal_field('name', 'taxonomy_term', item)|field_value|safe_join(', ')|replace({'&amp;': '&'}) ~ ' '%}
		{% set view_header = view_header ~ termname  %}
	{% endfor %}
{% endif %}


{% if (view.getExposedInput.field_byline_reference) %}
	{% set view_header = view_header ~ 'Byline search: ' %}
	{% set Byline = view.getExposedInput.field_byline_reference %}
	{% set view_header = view_header ~ Byline  %}
{% endif %}
{% if (view.getExposedInput.field_media_source_reference) %}
	{% set view_header = view_header ~ 'Media source search: ' %}
	{% set Media_source = view.getExposedInput.field_media_source_reference %}
	{% set view_header = view_header ~ Media_source  %}
{% endif %}






{% include "@pages/_view-list.twig" with {
  view_title : view_title,
  view_content : view_content,
  view_pager : view_pager,
  view_sidebar : view_sidebar,
  view_header : view_header
}%}
