<div class="campfire">
    <div class="campfire__feature">
        {{campfire_center}}
    </div>
    <div class="campfire__articles">
        {{campfire_articles_1}}
    </div>
    <div class="campfire__articles_2">
        {{campfire_articles_2}}
    </div>
</div>