/* -------------------------

Title: _base.scss
Descr: sets HTML and Body styles

--------------------------- */

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

// * + * {
//   margin-top: 0;
// }

// * + * {
//   margin-top: 1.5em;
// }

// * + p,
// * + ul,
// * + h2,
// * + figure {
//   margin-top: 1.5em;
// }

body {
  @include baseFont();
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
