/* -------------------------

Title: headings.
Descr: 
    Sets basic styles for h1-h4

--------------------------- */

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  font-weight: var(--semi);
}
// * + h2 {
//   background: red;
//   margin-top: 0;
// }

h1 {
  @extend .base-64;
  @include xl() {
    @extend .base-84;
  }

  .title {
    margin-top: 0;
  }
}

h2 {
  @extend .base-56;
}

// h2 after an eyebrow gets less margin top
.eyebrow + h2 {
  margin-top: 0.25em;
}

h3 {
  @extend .base-36;
}

h4 {
  @extend .base-28;
}

// Sidebar sizes for component headers
.sidebar {
  h2 {
    font-size: calc(1.5 * var(--base-font-size));
  }
}
