/* -------------------------

Title: link
Descr: 
    basic link

--------------------------- */
a,
.link {
  color: var(--as-red);
  text-decoration: none;
  &:focus {
    outline: 1px dashed var(--as-purple);
    outline-offset: -1px;
  }
}

// main content base link styles
main {
  a,
  .link {
    color: var(--as-red);

    text-decoration: underline;
    text-decoration-color: var(--gray-lt);
    transition: all 1s;
    &:hover {
      text-decoration-color: var(--gray-lightest);
    }
  }
}

//link animatation
@keyframes link-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
