/* -------------------------

Title: lists
Descr: Sets grid default <ul> <ol>
Variations: 


--------------------------- */

ul,
ol {
  padding-left: 1rem;
  margin-bottom: 1em;
  li {
    margin-bottom: 0.25em;
    max-width: var(--line-width);
  }
}
