/* -------------------------

Title: lists
Descr: Sets grid default <ul> <ol>
Variations: 


--------------------------- */

ul,
ol {
  padding-left: 1rem;
  margin-bottom: 1em;
  li {
    margin-bottom: 0.25em;
    max-width: var(--line-width);
  }
}
ul.inline {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: 1rem;
  }
}
