/* -------------------------

Title: _card--article.scss
Descr: Sets all specific styles for an article card
  sets css for card--feature as they are articles

--------------------------- */

.card--article {
  grid-row: span 2;
  .card__copy {
    padding: 1rem;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "label label label"
      "title title title"
      "date byline byline";
  }
  .card__title {
    grid-area: title;
    margin: .75em 0 1em 0;
    font-weight: var(--regular);
    font-size: var(--base-24);
    line-height: 1.25;
  }
  .card__label {
    grid-area: label;
    color: var(--as-black);
    font-size: var(--base-18);
    font-weight: var(--semi);
  }
  .card__date {
    grid-area: date;
    text-align: left;
    font-size: var(--base-16);
    margin-top: 2px;
  }
  .card__byline {
    grid-area: byline;
    font-size: var(--base-16);
    text-align: right;
  }
  &.card--small {
    // grid-template-columns: 180px 1fr;
    border: none;
    margin-bottom: 2rem;
    .card__copy {
      padding: 0.5rem 0.5rem 1rem 0;
      @include baseGrid($g-gap: 0px);
      grid-template-columns: 1fr;
      grid-template-areas:
        "date"
        "title";
    }
    .card__title {
      grid-area: title;
      margin: 0;
      @include baseFont(
        $size: var(--medium-font-size),
        $weight: var(--semi),
        $line-height: 1.4em
      );
    }
    .label,
    .byline {
      display: none;

    }
    .date {
      grid-area: date;
      text-align: right;
      margin-bottom: 0.25rem;
    }
    img {
      border-radius: var(--border-radius);
    }
  }

}


.card--feature {
  // @include baseGrid($g-gap: 0px);
  // grid-template-columns: 1fr 1fr;
  // grid-template-areas:
  //   "image image"
  //   "label dateline"
  //   "title title"
  //   "byline byline";

  a {
    span {
      display: block;
    }
  }
  .figure {
    grid-area: image;
  }
  .card__title {
    // grid-area: title;
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: var(--semi);
  }
  .card__label {
    // grid-area: label;
    color: var(--as-black);
    font-size: var(--base-18);
    font-weight: var(--semi);
    text-align: center;
  }
  .card__date {
    // grid-area: dateline;
    // text-align: right;
    font-size: var(--base-16);
    margin: 20px 1rem;
  }
  .card__byline {
    // grid-area: byline;
    // text-align: center;
    font-size: var(--base-18);
    margin: 0 1rem 1rem;
  }
}