{% set base_class = base_class | default('') %}
{% set modifiers = modifiers | default(['']) %}
{% set classes = classes | default(['']) %}


<div{{attributes}}{{bem(base_class,(modifiers),'',classes)}}>
    
    {% include "@atoms/00-text/_heading.twig" with {
      "heading_level" : 3,
      "heading" : heading
  } %}
  {% include "@organisms/link-list/_link-list.twig" with{
        links: links,
        group_base_class : 'links',
        group_modifiers : ['horizontal']
    } %}

    
</div>