{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menu_links %}
  {% if items['#render_children'] == null %}
  <ul class="SubNav">
  {% endif %}
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'subNav__item',
      item.in_active_trail ? 'subNav__item--active-trail',
      item.content.children ? 'subNav__item--withSubNav',
    ] %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {{ link(item.title, item.url) }}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}
