/*
 Base css for the layout and general structure of the website. All roads will lead through this.
*/


.row{
  display: grid;
  grid-template-columns: 1fr minmax(auto, $xl) 1fr;
  &--black{
    background: $black;
  }
}


.container{
  grid-column: 2;
  @include baseGrid();
  &--topBar{
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: .5rem 0;
  }
  // &--content found on _page.scss for all basic page grid styles
}

// Grid helper classes prefixed with 'g-'

.g-center{
    justify-content: center;
}
