
/* -------------------------

Title: Layout
Descr: sets main layout styles

--------------------------- */

body{
  overflow-x: hidden;
  background: var(--gray-lightest);
}


// the main wrapper for the visual frame

.wrapper{
  @include max-width(){
    max-width: $xx-wide;
    margin: 2rem auto;
  }
  background: $white;
}


// These are full width 'slices' of the page

.container{
  grid-column: 2;
  padding: 0 var(--mainGutter);
  @include medium(){
    @include baseGrid();
    margin: 0 auto;
  }

  &--topBar{
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: .5rem 0;
  }

  &--has-sidebar{
    grid-template-columns: 1fr 3fr;
  }
}


// mainContent is the <main> element of each page

.mainContent{
  
  &--has-aside{
    @include baseGrid();
    grid-template-columns: 2.33fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    "title title"
    "content aside";
    .title{
        grid-area: title;
    }
  }
}


// Grid helper classes prefixed with 'g-'

.g-center{
    justify-content: center;
}
