/* -------------------------

Title: container layouts.
Descr: 
    this is the container that spans from the <header> to <footer>. It establishes columns for sidebars etc. .mainContent(--modifier) is a child of .container.

--------------------------- */

// .container{
//   grid-column: 2;
//   padding: 0 var(--mainGutter);

//   @include medium(){
//     @include baseGrid();
//     margin: 0 auto;
//   }
  
//   &--has-sidebar{
//     grid-template-columns: 1fr 2fr;
//     grid-gap: calc( 4 * var(--space));
//   }
// }

.container{
  grid-column: 2;
  padding: 0 var(--mainGutter);
  display: grid;
  
  // &--has-sidebar{
  //   grid-row-gap: var(--space); 
  //   grid-template-areas: // set up areas to fill
  //     "menu"
  //     "main"
  //     "sidebar";
  //   .toc-menu,.sidebar-nav{
  //     grid-area: menu;
  //   }
  //   .sidebar{
  //     grid-area: sidebar;
  //   }
  //   main{
  //     grid-area: main;
  //   }
  //   @include medium{
  //     grid-template-columns: 1fr 2fr;
  //     grid-template-rows: minmax(100px, auto);
  //     grid-gap: calc( 2 * var(--space));
  //     grid-row-gap: var(--space);
  //     grid-template-areas: // set up areas to fill
  //     "sidebar main"
  //     "sidebar main";
  //       .toc-menu,.sidebar-nav{
  //         grid-area: sidebar;
  //         grid-row: 1;
  //       }
  //       .sidebar{
  //         grid-area: sidebar;
  //         grid-row: 2;
  //       }
  //     }
  //   @include xxl{
  //       grid-gap: calc( 3 * var(--space));
  //       grid-row-gap: var(--space);
  //     }
  //   }
}