/* 
    Base styles for all figures
    -specific styles will be in atom directores 
    -image
    -video

    display:table, and display:table-caption,caption-side:bottom to allow for sizing to the image not the caption

    PANOS -- really these should be constrained like slices but want to consider the possibility of full width panos?

    */


figure{
  // @include baseBorder();
  margin: 1rem 0;
  background: var(--gray-lightest);
  width: min-content;
  img{
    max-width: initial;
  }
  border-radius: var(--border-radius);
  // background: blue;
  &.figure{
    &--pano{
    margin: 0;
    width: 100%;
    background: var(--gray-lightest);
    img{
      max-width: 100%;
    }
    }
    &--image{
      border: 1px solid var(--border-color);
    }
    &--video{
      display: block;
    }
    &--card{
      background: var(--gray-lightest);
      width: 100%;
      img{
        max-width: 100%;
      }
    }
    &--thumbnail{
      width: 100%;
      background: none;
      img{
        max-width: 100%;
      }
    }
  }
  
}



figcaption{
  font-weight: var(--light);
  font-size: var(--medium-font-size);
  padding: 1rem;
}
