/* 
    Base styles for all figures
    -specific styles will be in atom directores 
    -image
    -video
*/

figure{
    display: inline-block;
    @include baseBorder();
    @include baseComponentMargin($m-top: 0);
}

.figure{
    &--pano{
        margin: 0;
    }
    &--image{
        max-width: $quark * 100;
    }
    &--video{
        display: block;
    }
}

figcaption{
    @include baseComponentPadding();
}
