/*
  Universal Card Styles
*/

// set styles specifically for PL
.card{
  border: 1px solid $gray-lt;
  margin-bottom: 1rem;
  .pl &{
    //max-width: 400px;
  }
}

.card__title {
  font-size: 1.5rem;
  &-link {
    @include link;
  }
}

.card__subtitle {
  @include no-bottom;
  color: $gray;
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button;
}

// Global small card can be overidden with .card--type .card--small
  .card--small{
    @include baseGrid();
    grid-template-columns: $max-column 1fr;
    .card__title{
      @include baseFont($size: (6 * $quark), $weight: $regular, $line-height: (7 * $quark));
    }
  }


// Article Cards
.card--article{
  .card__copy{
    padding: $space;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "label label date"
      "title title title"
      "byline byline social";
  }
  .card__title{
    grid-area: title;
  }
  .label{
    grid-area: label;
  }
  .date{
    grid-area: date;
  }
  .byline{
    grid-area: byline;
  }
  &.card--small{
    .card__copy{
      padding: $space;
      @include baseGrid($g-gap: 0px);
      grid-template-columns: 1fr;
      grid-template-areas:
        "date"
        "title";
    }
    .card__title{
      grid-area: title;
    }
    .label, .byline{
      display: none;
    }
    .date{
      grid-area: date;
    }
  }
}

