/*
  Universal Card Styles
*/

// set styles specifically for PL
.card{
  @include boxShadow;
  // @include baseBorder();
  border-radius: var(--border-radius);
  margin-bottom: var(--space);
  .pl &{
    //max-width: 400px;
  }
}

.card__title {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: var(--semi);
  &-link {
    color: var(--black);
  }
}

.card__label {
  @include no-bottom;
  color: var(--gray-dark);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  // @include link;
}

.card__button {
  @include button;
}

// Global small card can be overidden with .card--type .card--small
  .card--small{
    @include baseGrid();
    grid-template-columns: $max-column 1fr;
    .card__title{
      @include baseFont($size: (6 * $quark), $weight: $regular, $line-height: (7 * $quark));
    }
    .card__label, .card__byline{
      display: none;
    }
    .card__date.card__date{
      text-align: left; // using double selctor instead of !important
    }
  }



// Article Cards
.card--article{
  grid-row: span 2;
  .card__copy{
    padding: 1rem;
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "label label date"
      "title title title"
      "byline byline social";
  }
  .card__title{
    grid-area: title;
    margin-top: .5rem;
  }
  .card__label{
    grid-area: label;
    @include baseFont($family: $font-serif, $size: 5 * $quark);
  }
  .card__date{
    grid-area: date;
    text-align: right;
    @include fontSize(4);
  }
  .card__byline{
    grid-area: byline;
    @include fontSize(4);
  }
  &.card--small{
    grid-template-columns: 120px 1fr;
    border: none;
    margin-bottom: 2rem;
    .card__copy{
      padding: .5rem .5rem 1rem 0;
      @include baseGrid($g-gap: 0px);
      grid-template-columns: 1fr;
      grid-template-areas:
        "date"
        "title";
    }
    .card__title{
      grid-area: title;
      margin: 0;
      @include baseFont($size: 20px, $weight: $semi, $line-height: 1.4em)
    }
    .label, .byline{
      display: none;
    }
    .date{
      grid-area: date;
      text-align: left;
      margin-bottom: .25rem;
    }
    img{
      border-radius: var(--border-radius);
    }
  }
  &.card--large{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "top top"
    "label date"
    "byline social";
  }
}

// set styles specifically for PL
.open-card{
  @include baseBorder();
  border-radius: $border-radius;
  margin-bottom: 1rem;
  .pl &{
    max-width: 600px;
  }
}

// Campfire center Open Card
.card--feature{
  
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "top top"
    "label dateline"
    "byline social";
    a{
      color: $white;
      margin: 1rem;
      padding: 1rem;
      text-align: center;
      @include baseBorder($bor-width: $quark, $bor-color: $white);
      font-weight: $semi;
    }
  
  .card__image{
    grid-area: top;
  }
  .card__title{
    grid-area: top;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .card__label{
    grid-area: label;
    @include baseFont($family: $font-serif);
    @include fontSize(5);
    margin: (5 * $quark) 1rem;  
  }
  .card__date{
    grid-area: dateline;
    text-align: right;
    @include fontSize(4);
    margin: (5 * $quark) 1rem;
  }
  .card__byline{
    grid-area: byline;
    @include fontSize(4);
    margin: 0 1rem 1rem;
  }
}


// STATS
.card--stat{
  padding: 1rem;
  text-align: center;
  grid-row: span 1;
  .card__title{
    display: none; // really never want this to show up even for a11y
  }
  .card__label{
    @include baseFont($size: 12 * $quark, $weight: $heavy);
    @include baseBorder($bor-direction: border-bottom, $bor-width: $quark, $bor-color: $green);
  }
  .card__body{
    font-weight: $semi;
  }
}

// COURSES
.card--course{
  padding: 1rem;
}

// article cards in .list--thumbnail
// .list--thumbnail{
//   .card{
    
//   }
// }

