{# 

/* -------------------------

Title: _default.twig
Descr: Gets called in to _modal-page.twig, _basic-page.twig, _article.twig 
        steers all other page region output for default pages
Gets: wrapper modifiers
        main content modifiers

--------------------------- */ 

#}


{# {% set content_wrapper_modifiers = [] %} #}

{% set content_wrapper_base_class = content_wrapper_base_class | default('container') %}
{% set content_wrapper_modifiers = content_wrapper_modifiers | default(['']) %}
{% set content_wrapper_extra_classes = content_wrapper_extra_classes | default(['']) %}

{# <main> modifiers and classes #}

{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class | default('mainContent') %}
{% set main_content_modifiers = main_content_modifiers | default(['']) %}
{% set main_extra_classes = main_extra_classes | default(['']) %}

{# Start output #}
{% block page_header %}{% endblock %}
{% block page_system %}{% endblock %}

<div {{ bem(content_wrapper_base_class, (content_wrapper_modifiers), content_wrapper_blockname, content_wrapper_extra_classes) }}>

    {# sidebar nav #}
    {% block sidebar_content %}{% endblock %}
    {# main content #}
    <main {{ bem(main_content_base_class, (main_content_modifiers), main_blockname, main_extra_classes) }} id="mainContent">
        {% block page_content %}{% endblock %}
        {# aside content #}
        {% if aside_content %}
            <aside role="complementary">
                {# sidebar content #}
                {% block aside_content %}{% endblock %}
            </aside>
        {% endif %}
    </main>
</div>

{% block page_footer %}{% endblock %}
