/* -------------------------

Title: blockquote
Descr: 
   - style block quote.

--------------------------- */
.pageComponent--blockQuote{
  blockquote{
    background: var(--gray-lightest);
    padding: 3rem;
    font-style: italic;
    font-size: 1.5rem;
    margin: 3rem;
    .attribution{
      font-weight: var(--semi);
    }
  }
}

.pageComponent--ftb{
  blockquote{
    background: var(--gray-lightest);
    padding: 3rem;
    font-style: italic;
    font-size: 1.5rem;
    margin: 3rem;
    .attribution{
      font-weight: var(--semi);
    }
  }
}