/* -------------------------

Title: _forms.scss
Descr: 
    Main inpage forms

    .form--simpleSearch

    .form--overlaySearch
    .form--blockSearch

--------------------------- */

.form--simpleSearch {
  display: inline-flex;
  * {
    z-index: 1;
  }
  .searchField {
    display: flex;
    border: 1px solid var(--gray-dark);
    border-radius: var(--border-radius);
  }
  .form-item__textfield,
  .form-item__submit {
    border: none;
  }
  .form-item__textfield {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    font-size: var(--base-20);
  }
  .form-item__submit {
    background: var(--as-black);
    color: var(--as-white);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}

// wrappers specifically for sidebar and embedded searches
.form--searchBlock {
  background: var(--gray-lt);
  padding: 2rem;
  border-radius: var(--border-radius);
  // color: var(--as-white);
  flex-direction: column;
  margin: 2rem 0;
  width: calc(100% - 4rem);
  @include gradient-border();
  .searchField {
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    @include boxShadow();
    border: 1px solid var(--storm);
  }
  label {
    font-weight: var(--semi);
    margin: 0em 0 1.5em;
  }
  .form-item__textfield {
    flex: 0 0 80%;
  }
  .form-item__submit {
    flex: 0 0 calc(20% - 2em);
    font-size: var(--base-18);
    background: var(--as-black);
  }
}

// search form in header
.form--overlaySearch {
  // display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  // opacity: 0;
  // visibility: hidden;
  label,
  .form-item__label {
    display: block;
    font-weight: 600;
    @include xs {
      display: block;
      margin-right: 2%;
      padding: 0.6em 0;
    }
  }
  // .form-item__textfield {
  //   border-radius: var(--border-radius) 0 0 var(--border-radius);
  //   border-right: none;
  // }
  .form-item__submit {
    // border-radius: 0 var(--border-radius) var(--border-radius) 0;
    // padding: 0.5em 1em;
    // // background: var(--gray-lt);
    // border-left: none;
  }
  &.shown {
    max-height: 100%;
    // opacity: 1;
    // visibility: visible;
    background: var(--as-white);
    padding: 1rem;
    z-index: 1;
  }
}

// views-exposed-form
// This is where all the action happens for exposed drupal forms

.views-exposed-form {
  font-size: var(--base-20);
  display: flex;
  flex-wrap: wrap;
  .fieldgroup {
    margin-bottom: 0.5em;
  }

  //autocomplete wrapper
  .js-form-type-entity-autocomplete {
    display: flex;
    flex-direction: column;
  }
  label {
    font-weight: var(--semi);
  }
  option {
    font-size: var(--base-20);
  }
  //select list styles
  // .js-form-type-select {
  //   display: flex;
  //   flex-direction: column;

  // }

  // checkboxes
  .js-form-type-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 0.25em;
    label {
      flex: 0 0 90%;
    }
  }

  //janky drupal hide/show
  details[id*="collapsible"],
  fieldset[id*="field-interests"] {
    summary {
      font-weight: var(--semi);
    }
    .form-checkboxes .form-checkboxes {
      height: 400px;
      overflow-y: scroll;
    }
  }
  // fieldset[id*="field-interests"] {
  //   background: red;
  // }

  // best based fields
  .form-item__textfield,
  .form-select,
  .form-autocomplete {
    border: 1px solid var(--gray-lt);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    &:focus {
      border-color: var(--as-black);
    }

    &::-webkit-input-placeholder {
      color: var(--gray-light);
    }

    &:-moz-placeholder {
      color: var(--gray-light);
    }

    &::-moz-placeholder {
      color: var(--gray-light);
    }

    &:-ms-input-placeholder {
      color: var(--gray-light);
    }
  }
}

// submit buttons
.form-submit {
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;
  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}

.form-item__submit {
  background: var(--gray-lightest);
  border: 1px solid var(--gray-lightest);
}

.form-autocomplete {
  width: calc(100% - 1rem);
}

legend {
  font-weight: var(--semi);
}

#views-exposed-form-article-search-page-1,
#views-exposed-form-site-search-page-1,
#views-exposed-form-departments-and-programs-search-page-1,
#views-exposed-form-major-minor-grad-search-page-1,
#views-exposed-form-people-search-page-1 {
  display: grid;
  grid-template-columns: 3fr 3fr 60px 60px;
  grid-template-rows: auto;
  gap: var(--space);
  border: 1px solid var(--gray-lt);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  background: var(--as-white);
  @include boxShadow();
  .js-form-type-textfield {
    grid-column: 1 / 3;
    grid-row: 1;
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
    label {
      font-size: var(--base-24);
    }
    #edit-keywords {
    }
  }
  [role="button"] {
    background: var(--blue-blue);
    padding: 0.5rem;
    border: 1px solid var(--as-blue-base);
    border-radius: var(--border-radius);
    color: var(--as-white);
    margin-bottom: 0.5rem;
  }
  input[type="text"] {
    border: 1px solid var(--gray-lt);
    padding: 0.5rem;
    border-radius: var(--border-radius);
  }
  .bef--secondary {
    grid-column: 1 / 3;
    display: flex;
  }
  //text fields
  .js-form-item-type-textfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  //field groups
  .js-form-item.fieldgroup {
    // background: red;
    grid-column: auto;
    grid-row: 2;
  }
  //form select
  .js-form-type-select {
    grid-row: 2;
  }

  //buttons
  .js-form-submit {
    grid-row: 1;
    grid-column: 3;
  }
  .js-form-submit:nth-of-type(2) {
    grid-row: 1;
    grid-column: 4;
  }
}
//mmg specific
#views-exposed-form-major-minor-grad-search-page-1 {
  .form-item-interests {
    grid-row: 3;
  }
}
