/* -------------------------

Title: _forms.scss
Descr: 
    Main inpage forms

    .form--simpleSearch

    .form--overlaySearch
    .form--blockSearch

--------------------------- */

.form--simpleSearch {
  display: inline-flex;
  * {
    z-index: 1;
  }
  .searchField {
    display: flex;
    border: 1px solid var(--gray-dark);
    border-radius: var(--border-radius);
  }
  .form-item__textfield,
  .form-item__submit {
    border: none;
  }
  .form-item__textfield {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    font-size: var(--base-20);
  }
  .form-item__submit {
    background: var(--as-black);
    color: var(--as-white);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}

// wrappers specifically for sidebar and embedded searches
.form--searchBlock {
  background: var(--gray-lt);
  padding: 2rem;
  border-radius: var(--border-radius);
  // color: var(--as-white);
  flex-direction: column;
  margin: 2rem 0;
  width: calc(100% - 4rem);
  @include gradient-border();
  .searchField {
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    @include boxShadow();
    border: 1px solid var(--storm);
  }
  label {
    font-weight: var(--semi);
    margin: 0em 0 1.5em;
  }
  .form-item__textfield {
    flex: 0 0 80%;
  }
  .form-item__submit {
    flex: 0 0 calc(20% - 2em);
    font-size: var(--base-18);
    background: var(--as-black);
  }
}

// search form in header
.form--overlaySearch {
  // display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  label,
  .form-item__label {
    display: block;
    font-weight: 600;
    @include xs {
      display: block;
      margin-right: 2%;
      padding: 0.6em 0;
    }
  }
  // .form-item__textfield {
  //   border-radius: var(--border-radius) 0 0 var(--border-radius);
  //   border-right: none;
  // }
  .form-item__submit {
    // border-radius: 0 var(--border-radius) var(--border-radius) 0;
    // padding: 0.5em 1em;
    // // background: var(--gray-lt);
    // border-left: none;
  }
  &.shown {
    opacity: 1;
    visibility: visible;
  }
}

// views-exposed-form
// This is where all the action happens for exposed drupal forms

.views-exposed-form {
  font-size: var(--base-20);
  max-width: 300px;
  .fieldgroup {
    margin-bottom: 0.5em;
  }

  //autocomplete wrapper
  .js-form-type-entity-autocomplete {
    display: flex;
    flex-direction: column;
  }

  //select list styles
  .js-form-type-select {
    display: flex;
    flex-direction: column;
    label {
      font-weight: var(--semi);
    }
    option {
      font-size: var(--base-20);
    }
  }

  // checkboxes
  .js-form-type-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 0.25em;
    label {
      flex: 0 0 90%;
    }
  }

  //janky drupal hide/show
  details[id*="collapsible"] {
    summary {
      font-weight: var(--semi);
    }
    .form-checkboxes .form-checkboxes {
      height: 400px;
      overflow-y: scroll;
    }
  }

  // best based fields
  .form-item__textfield,
  .form-select,
  .form-autocomplete {
    border: 1px solid var(--gray-lt);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    &:focus {
      border-color: var(--as-black);
    }

    &::-webkit-input-placeholder {
      color: var(--gray-light);
    }

    &:-moz-placeholder {
      color: var(--gray-light);
    }

    &::-moz-placeholder {
      color: var(--gray-light);
    }

    &:-ms-input-placeholder {
      color: var(--gray-light);
    }
  }
}
// .form-item {
//   color: var(--gray);
//   // margin-bottom: 1em;
//   max-width: 32em;

// }

// submit buttons
.form-submit {
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;
  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}

.form-item__submit {
  background: var(--gray-lightest);
  border: 1px solid var(--gray-lightest);
}

.form-autocomplete {
  width: calc(100% - 1rem);
}

legend {
  font-weight: var(--semi);
}

// stacking label and field in the sidebar

// .sidebar {
//   *[class*="autocomplete"] {
//     display: flex;
//     flex-direction: column;
//     // background: red;
//   }
// }
