/* -------------------------

Title: Site header styles
Descr: Set 
        - #skip
        - header
        - .cu-logo
        - .as-logo
all search form design in _forms.scss

--------------------------- */
#skip {
  position: absolute;
  top: 50px;
  z-index: 3;
  a {
    z-index: 0;
    position: absolute;
    left: -5000px;
    width: 250px;
    font-weight: 600;
    &:focus {
      left: 200px;
    }
  }
}

header {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto auto auto;

  grid-template-areas:
    "logo logo logo buttons"
    "nav nav nav nav"
    "search search search search";

  @include medium {
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "logo logo logo logo"
      ". nav buttons. "
      "search search search search";
  }
  @include xl {
    grid-template-columns: auto auto 1rem;
    grid-template-rows: auto auto;
    grid-template-areas:
      "logo nav buttons"
      "search search search";
  }
  max-width: var(--xl);
  margin: 0 auto;
  form {
    grid-area: search;
  }
  .header__lockup {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    @include xl() {
      justify-content: left;
      margin-bottom: 0;
    }
  }
  .header__mainNav {
    grid-area: nav;
    width: 100%;
    @include medium() {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .main-nav-toggle {
    grid-area: navIcon;
  }
  .img {
    max-width: initial; // force logo full size
  }

  //large screen
  @include medium() {
    flex-direction: row;
    padding: 6rem 1rem 5rem 1rem;
  }
}

.cu-logo {
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  background: url(/themes/custom/pathways/images/CU-insignia.svg);
  background-size: 80px 80px;
}

.as-logo {
  text-indent: -9999px;
  background: url(/themes/custom/pathways/images/college.svg);
  position: relative;

  width: 238px;
  height: 71px;
  background-size: 238px 71px;
  margin-left: 40px;

  &:before {
    position: absolute;
    width: 1px;
    background: var(--gray-lt);
    height: 100%;
    top: 0;
    left: -20px;
    content: "";
  }
}

// show nav and search buttons
.header__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .iconButton--showNav {
    @include medium() {
      display: none;
    }
  }
}
