/* -------------------------

Title: Site footer styles
Descr: Set 
        - footer
        - for current student menu
        - footer menus
all search form design in _forms.scss

--------------------------- */

footer {
  width: 100%;
  background: var(--as-black);
  color: var(--as-white);
  font-size: var(--base-20);

  h2 {
    font-size: var(--base-24);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .footer {
    margin: 0 auto;
    max-width: var(--xl);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    &__currentStudents {
      grid-column: 1 / 4;
      grid-row: 1 / 1;
    }
    &__importantLinks {
      grid-column: 4 / 10;
      grid-row: 1 / 1;
      > ul {
        display: flex;
        > li {
          flex: 0 0 33.3%;
          font-weight: var(--semi);
        }
        ul {
          font-weight: var(--regular);
        }
      }
    }
    &__logo {
      grid-column: 1 / 4;
      grid-row: 2;
    }
    &__address {
      grid-column: 5 / 7;
      grid-row: 2;
    }
    &__contacts {
      grid-column: 8 / 11;
      grid-row: 2;
    }
    &__socialLinks {
      grid-column: 11 / -1;
      grid-row: 2;
    }
  }

  a {
    color: var(--as-white);
  }
}
