/* -------------------------

Title: Site header styles
Descr: Set 
        - #skip
        - header
        - .cu-logo
        - .as-logo

--------------------------- */
#skip{
  position: absolute;
  top: 50px;
  z-index: 3;
  a{
    z-index: 0;
    position: absolute;
    left: -5000px;
    width: 250px;
    font-weight: 600;
    &:focus{
      left: 200px;
    }
  }
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: var(--xl);
  margin:0 auto;
  form{
      grid-area: search;
  }
  .header__lockup{
      display:flex;
      justify-content: center;
      align-items: center;
  }
  .header__mainNav{
      width: 100%;
      @include medium(){
        width: auto;
      }
  }
  .main-nav-toggle{
    grid-area: navIcon;
  }
  .img{
    max-width: initial; // force logo full size
  }

  //large screen
  @include medium(){
    flex-direction: row;
    padding: 3rem 0;
  }
}

.cu-logo{
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  background: url(/themes/custom/pathways/images/CU-insignia.svg);
  background-size: 80px 80px;
}

.as-logo{
  text-indent: -9999px;
  width: 193px;
  height: 47px;
  background: url(/themes/custom/pathways/images/college.svg);
  background-size: 193px 47px;
  position: relative;
  margin-left: 20px;
  &:before{
    position: absolute;
    width: 1px;
    background: var(--gray-lt);
    height: 100%;
    top: 0;
    left: 0px;
    content:'';
  }
}