<header class="header">
  <!--
  ***  SKIP NAV  ***
  -->
  <div id="skip">
      <a href="#as-main-nav">Jump to main navigation</a>
      <a href="#mainContent">Jump to main content</a>
  </div>
  <div class="header__lockup">
    <a href="http://cornell.edu" title="Cornell University" class="cu-logo">
        Cornell University
    </a>
    <a class="as-logo" href="/" title="College of Arts & Sciences">
        The College of Arts & Sciences
    </a>
  </div>
  <div class="header__mainNav">
    {# {{elements.mainnavigation}} #}
    {# main nav toggle burger here
      .toggle with a :before and :after to make up the lines
     #}

{{elements.topnav}}



    
</header>
