<header class="header">
  <!--
  ***  SKIP NAV  ***
  -->
  <div id="skip">
      <a href="#as-main-nav">Jump to main navigation</a>
      <a href="#mainContent">Jump to main content</a>
  </div>
  <div class="header__lockup">
    <a href="http://cornell.edu" title="Cornell University" class="cu-logo">
        Cornell University
    </a>
    <a class="as-logo" href="/" title="College of Arts & Sciences">
        The College of Arts & Sciences
    </a>
  </div>
  <div class="header__mainNav">
    {# {{elements.mainnavigation}} #}
    {# main nav toggle burger here
      .toggle with a :before and :after to make up the lines
     #}
    <ul class="mainNav">
      <li class="mainNav__item">
        <a href="" class="mainNav__link">Admissions</a>
      </li>

      <li class="mainNav__item">
        <a href="" class="mainNav__link">Research</a>
      </li>
      <li class="mainNav__item withSubNav">
        <a href="" class="mainNav__link">Education</a>
        <button class="mainNav__subNavToggle">+</button>
        <ul class="subNav">
          <li class="subNav__item">
            <a href="" class="subNav__link">Majors and Minors</a>
          </li>
          <li class="subNav__item">
            <a href="" class="subNav__link">Degree Requirements</a>
          </li>
          <li class="subNav__item">
            <a href="" class="subNav__link">Special Opportunities</a>
          </li>
        </ul>
      </li>      
      <li class="mainNav__item">
        <a href="" class="mainNav__link">Public Engagement</a>
      </li>
    </ul>

  </div>
</header>
