.eventList{
    @include medium(){}
    display: grid;
    grid-gap: var(--space);
    grid-row-gap: var(--space);
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    // @include medium(){
    //     grid-template-columns: repeat(4, 1fr);
    // }
   @include componentMargin();
}
.event{
    display: grid;
    grid-gap: var(--space);
    grid-row-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "date title title title"
    "date location location location";
    &__date{
       grid-area: date;
    }
    &__title{
        grid-area: title;
    }
    &__location{
        grid-area: location;
    }
}

