/* -------------------------

Title: Photo Text 
Descr: Set main wrapper for photo text 

--------------------------- */

.photoText{
    display: grid;
    grid-column-gap: var(--space);
    grid-template-columns: auto 60%;
    grid-template-rows: auto 1fr auto;
    max-width: $x-wide;
    margin: 0 auto;
    h2{
        // finds .slider .photoText ascendant slector
        .slider &{
            font-size: 3rem;
        }
    }
}
