/* -------------------------

Title: pageComponent
Descr: 
    any basic styles for pageComponents

--------------------------- */

.pageComponent {
  clear: both;
}

// pc--rapper with items laid out on specified grid based on numbe of items.

.pcWrapper {
  margin-bottom: var(--bottom-margin);
  .pcWrapper {
    margin-bottom: 0;
  }
  &.grid {
    display: grid;
    gap: var(--space);
  }
  &.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include medium() {
      flex-direction: row;
    }
  }
}

.items--2 {
  @include medium() {
    grid-template-columns: repeat(2, 1fr);
  }
}

.items--3 {
  @include medium() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.items--4 {
  grid-template-columns: 1fr 1fr;
  @include medium() {
    grid-template-columns: repeat(4, 1fr);
  }
}
