/* -------------------------

Title: pageComponent--ftb
Descr: 
    specific styles for PC-FTB that are not specific to a cotnent type

--------------------------- */

.pageComponent--ftb {
  p {
    max-width: var(--line-width);
  }
}

// for now target first layer of ftbs on lading page for width

.landingPage {
  .content > .pageComponent--ftb {
    @include medium() {
      max-width: 72%;
    }
    margin-left: auto;
    margin-right: auto;
    p {
      max-width: 100%;
    }
  }
}

// .pcWrapper
