/* -------------------------

Title: _pageComponent--photoText.scss
Descr: Sets styles for 
  -- pcWrapper--photoText
  -- photoText

--------------------------- */

// pcWrapper--photoText pcWrapper--featured
.pcWrapper--photoText {
  &[class*="pcWrapper--featured"] {
    .photoText {
      //adjust figure default
      figure {
        background: none;
      }
      // set up masks
      @for $i from 1 through 3 {
        &:nth-of-type(3n + #{$i}) {
          img {
            @extend .mask-#{$i};
          }
        }
      }
    }
  }
  &[class*="blue"] {
    background: var(--storm-radial);
    color: var(--as-white);
    padding: 2rem;
    border-radius: var(--border-radius);
    margin-bottom: var(--bottom-margin);
    .photoText {
      margin-bottom: 0;
    }
  }
}

// photoText
.photoText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--bottom-margin);
  font-size: var(--base-24);
  &__image,
  &__text {
    flex: 0 0 calc(47% - var(--space));
  }
  h2 {
    // font-size: var(--base-48);
    // @include large() {
    //   font-size: var(--base-64);
    // }
    // line-height: 1;
    // margin-bottom: 0.75em;
    .slider & {
      font-size: 3rem;
    }
  }
  h3 + h2 {
    // margin-top: 0;
  }
  h3 {
    font-family: var(--font-serif);
    font-size: var(--base-24);
  }
  @include medium() {
    flex-direction: row;
    &:nth-last-of-type(odd) {
      flex-direction: row-reverse;
    }
  }
}
