/* -------------------------

Title: pageComponent--relatedArticles
Descr: 
    styles for pageComponets as relatedArticles


--------------------------- */

.pcWrapper--relatedArticles {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

// in layout group
.pcWrapper--layoutGroup {
  .pcWrapper--relatedArticles {
    h4 {
      @extend .sr-only;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        flex: 0 0 47%;
      }
    }
  }
}
