/* -------------------------

Title: _pageComponent--stat
Descr: sets up all uniquie styles for Stats wrapper and cards
  

  .pcWrapper--stat
  .card--stat - base card styles set at /molecules/_card.scss

--------------------------- */

// pcWrapper--stat
.pcWrapper--stat {
  display: flex;
  justify-content: space-between;
}

.card--stat {
  text-align: center;
  grid-row: span 1;
  .card__copy {
    display: flex;
    flex-direction: column;
    font-size: var(--base-20);
    p {
      line-height: 1.2;
    }
  }
  .card__title {
    display: none; // really never want this to show up even for a11y
  }
  .card__label {
    @include baseFont($size: 2rem, $weight: var(--semi));
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    &::after {
      position: absolute;
      content: "";
      width: 30%;
      height: 4px;
      background: var(--green);
      left: 35%;
      bottom: 0;
      border-radius: var(--border-radius);
    }
  }
}

// card stats in 2x layout group
.pcWrapper--layoutGroup {
  .card--stat {
    flex-basis: calc(50% - 3rem);
  }
}
