/* -------------------------

Title: pageComponent
Descr: 
    any basic styles for pageComponents

--------------------------- */

.pageComponent {
  clear: both;
}

// .content > .pcWrapper,
// .content > .pageComponent {
//   margin-bottom: var(--bottom-margin);
// }
