{# {{kint(_context)}} #}

{% embed "@organisms/photo-text/photo-text-slider.twig" with {

}%}{% endembed %}

{# {% for item in content %}
hi
{% endfor %} #}
{# 
<div class="slider">
    {{content}}
</div> #}